/* 
    Document   : style
    Created on : 02 13, 14, 11:19:31 PM
    Author     : jack
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/*@charset "utf-8";*/
/* CSS Document */
/*body{
background-color:#FFF;
font-family:Monaco,Consolas,'Lucida Grande','Lucida Console';
font-size:16px;
text-shadow:rgba(0,0,0,0.01) 0 0 0;
}
#wrapper{
width:960px;
margin:0 auto;
}
#content{
width:960px;
margin:5px;
float:left;
}
**********************************************
.signup_wrap{
height:25px;
width:100%;
padding:5px;
background-color:#2A1FFF;
}
.signin_form{
float:right;
}
.signin_form input{
width:80px;
}
.reg_form{
width:460px;
padding:20px;
margin:0 auto;
border:3px solid #DFDFDF;
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbd4e5));
background: -moz-linear-gradient(top,  #fff,  #cbd4e5);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#cbd4e5');
}
.form_title,
.form_sub_title{
font-size:20px;

font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
font-size:20px;
font-weight:bold;
}
.form_sub_title{
font-weight:normal;
padding:6px 0 15px 0;
}
.reg_form p{
width: 300px;
clear: left;
margin: 0;
padding: 5px 0 8px 0;
padding-left: 155px; width of left column containing the label elements
border-top: 1px dashed gray;
height: 1%;
}
.reg_form label{
font-weight: bold;
float: left;
margin-left: -155px; width of left column
width: 150px; width of labels. Should be smaller than left column (155px) to create some right margin
}
input{
padding:3px;
color:#333333;
border:1px solid #96A6C5;
margin-top:2px;
width:180px;
font-size:11px;
}
.greenButton{
width:auto;
margin:10px 0 0 2px;
padding:3px 4px 3px 4px;
color:white;
background-color:#589d39;
outline:none;
border:1px solid #006600;
font-weight:bold;
}
.greenButton:active{
background-color:#006600;
padding:4px 3px 2px 5px;
}
.error{
color:#F00;
}
#footer{
color:#fff;
padding-top:20px;
text-align:center;
background: #454546; 
height: 20px;
clear:both;
}
*/

.verify{
    margin-top: 4px;
    margin-left: 9px;
    position: absolute;
    width: 16px;
    height: 16px;
}

.checkmark{
    background-image: url('images/yes.png');
}
.xmark{
    background-image: url('images/no.png');
}

.ui-autocomplete-loading {  
    background: white url('images/wait.gif') right center no-repeat;
}

/*#accordion-resizer {
    padding: 10px;
    width: 350px;
    height: 220px;
}*/

.commentlist{
    border: 1px;
}

.comment_uname{
    font-style: italic;
    font-weight: bold;
}

.moveupbtn, .movedownbtn, .removeroutebtn{
    width: 16px;
    height: 16px;
}
.moveup,.movedown{
    display: block !important;
}

/*.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}*/

.routedetail{   
    border: 1px solid;
    padding: 10px;
    /*margin: 5px;*/
}

.routedetail > div{
    display: inline-block;
    padding: 0 10px;
    background: 3399FF !important;
}

/*.comment_cont{
    background-color: #c5ddfc;
    border: 2px solid;
    border-radius: 25px;
    padding: 10px;
    width: 75%;
    margin-left: 15%;
    word-wrap:break-word;
}*/ 
.comment_cont:after { 
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: #F3961C transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 90%;
}
.comment_cont {
    background: linear-gradient(#F9D835, #F3961C) repeat scroll 0 0 transparent;
    border-radius: 10px 10px 10px 10px;
    color: #000000;
    margin: 1em 0 3em;
    padding: 15px;
    position: relative;
}

#leftpanel{    
    display: inline-block;
    padding: 10px;
    width: 35%;
    background: none;
    background-image: url("./images/menu_content_bg.png");
}

#rightpanel{
    display: inline-block;
    padding: 10px;
    vertical-align: top;
    width: 60%;
    background: none;
    background-image: url("./images/menu_content_bg.png");
}

#outputGmap{
    height: 250px;
}

#samplehead{
    background-color: #000000;
    height: 100px;
}

.ui-widget *{
    font-size: 90% !important;
}

.locationdet, .memberdet{
    display: inline-block;
    padding: 5px;
}

.grayrow{
    background-color: lightgray !important;
}

.ui-autocomplete
{
    position:absolute;
    cursor:default;
    z-index:4000 !important
}

.fromtodiv {

}

#editauth,#suggauth {
    float: right;
    position: relative;
    right: 10px;
    top: 25px;
}

#fromtoinput{
    text-align: center;
}

#existingcomments *{
    font-size: 75%;
}

a.suggestion {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.newcomment{

}

.page {
    background-color: #F1F7FB;
    border-color: #BBD2E1;
    color: #095C9B;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 7px;
    margin-left: 5px;
    border: 1px solid;
    margin: 0 2px;
}

.pages {
    background-color: #D5E7F7;
    border-color: #BBD2E1;
    color: #095C9B;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 7px;
    margin-left: 5px;
    border: 1px solid;
    margin: 0 2px;
}

.pageofstyle{
    /*float: right;*/
    height: 1%;
    margin-top: 5px;
    text-align: right;
    width: auto;
}

.activecomment{
    border: 1px solid;
    margin: 5px;
    padding: 10px;
}

.rating {
    position: relative;
    top: -40px;
    left: 310px;
}

.sugdet{
    font-size: 80%;
    color: gray;
    display: inline-block;
    width: 50%;
}

.createddate{
    text-align: right;
}
h3.title{
    margin-bottom: 0;
}

/*a.button {
    text-decoration: none;
}
.button {
    background: -moz-linear-gradient(center top , #34696F, #2F5F63) repeat scroll 0 0 transparent;
    border: 2px solid rgba(33, 68, 72, 0.59);
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0 4px 0 #1B383B;
    color: rgba(0, 0, 0, 0.55);
    display: block;
    text-align: center;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
    width: 100px;
}

a.button:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}*/

.button {
    -moz-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
    box-shadow:inset 0px 0px 0px 0px #bbdaf7;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background-color:#79bbff;
    -webkit-border-top-left-radius:13px;
    -moz-border-radius-topleft:13px;
    border-top-left-radius:13px;
    -webkit-border-top-right-radius:13px;
    -moz-border-radius-topright:13px;
    border-top-right-radius:13px;
    -webkit-border-bottom-right-radius:13px;
    -moz-border-radius-bottomright:13px;
    border-bottom-right-radius:13px;
    -webkit-border-bottom-left-radius:13px;
    -moz-border-radius-bottomleft:13px;
    border-bottom-left-radius:13px;
    text-indent:0px;
    /*border:1px solid #84bbf3;*/
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    height:27px;
    line-height:27px;
    width:99px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #528ecc;
}
.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background-color:#378de5;
}.button:active {
    position:relative;
    top:1px;
}

#wrapper div{
    /*background: none;*/
}
.transpomode{
    width: 10%;
}
.transpomode_desc{
    width: 25%;
}
.travel_desc{
    width: 25%;
}
.fare{
    width: 5%;
}
.ETA{
    width: 5%;
}

.addroutelabel {
    font-weight: bold;
}

.addroutelabeldiv{
    display: inline-block;
    width: 100px;
}

.addroutediv{

}

.loginBox {
    box-shadow: 0 0 4px 1px #DDDDDD;
}
.formEl_a .inpt_a, .formEl_a .inpt_b, .loginBox {
    border-radius: 4px;
}
.loginBox {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf:before, .cf:after {
    content: "";
    display: table;
}
.loginBox .heading {
    background: -moz-linear-gradient(center top , #F9F9F9 0%, #ECECEC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.loginBox .heading {
    border-bottom: 1px solid #CCCCCC !important;
    border-radius: 4px 4px 0 0;
    margin-bottom: 16px;
    padding: 4px 16px;
}

.loginBox .content {
    padding: 0 16px 10px;
}
.sepH_b {
    margin-bottom: 12px;
}
.sepH_c {
    margin-bottom: 24px;
}
.sepH_a {
    margin-bottom: 6px;
}
.formEl_a .lbl_a {
    color: #666666;
    display: block;
    font-weight: 700;
    margin-bottom: 4px;
}
.formEl_a label {
    cursor: pointer;
}
.formEl_a .inpt_a, .formEl_a .inpt_b, .loginBox {
    border-radius: 4px;
}
.loginBox .inpt_a {
    width: 320px;
}
.formEl_a .inpt_a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #B8B8B8 #E2E2E2 #E2E2E2 #B8B8B8;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    padding: 5px 8px;
    width: 320px;
}
.formEl_a input {
    background: none repeat scroll 0 0 #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
}
.login_wrapper {
    margin: 0 auto;
    /*padding: 180px 0 0;*/
    width: 372px;
}
.memberlist_wrapper{
    margin: 0 auto;
    /*padding: 180px 0 0;*/
    width: 60%;
}
.locationlist_wrapper{
    margin: 0 auto;
    /*padding: 180px 0 0;*/
    width: 40%;
}
h3 {
    font-size: 18px;
}
h1, h2, h3 {
    font-family: 'Open Sans',sans-serif;
}
h1, h2, h3, h4 {
    color: #222222;
    font-weight: 400;
}

.labeldiv{
    display: inline-block;
    width: 100px;
}

#user{
    float: right;
}

.menubtn{
    display: inline-block;
}

.topmenu{
    background: -moz-linear-gradient(center top , #79BBFF 5%, #378DE5 100%) repeat scroll 0 0 #79BBFF !important;
    margin-bottom: 20px;
    border-radius: 13px;
}

.FrontPageIntroBlock{
    width:600px;
    padding: 10px;
    margin: 0 auto;
    font-size: smaller;

}

#routeOutput {
    margin-top: 20px;
}

.title {
    background: -moz-linear-gradient(center top , #F9F9F9 0%, #ECECEC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    /*background: lightgrey !important;*/
    border-top: 1px solid #CCCCCC !important;
    border-left: 1px solid #CCCCCC !important;
    border-right: 1px solid #CCCCCC !important;
    border-radius: 4px 4px 0 0;
    padding: 4px 16px;
}
.titlebot{
    background: -moz-linear-gradient(center bottom , #F9F9F9 0%, #ECECEC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    /*background: lightgrey !important;*/
    border-bottom: 1px solid #CCCCCC !important;
    border-left: 1px solid #CCCCCC !important;
    border-right: 1px solid #CCCCCC !important;
    margin-bottom: 16px;
    padding: 4px 16px;
}

.titleroute{
    background: -moz-linear-gradient(center top , #F9F9F9 0%, #ECECEC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    /*background: lightgrey !important;*/
    border-top: 1px solid #CCCCCC !important;
    border-left: 1px solid #CCCCCC !important;
    border-right: 1px solid #CCCCCC !important;
    border-radius: 4px 4px 0 0;
    padding: 4px 16px;
    /*background: -moz-linear-gradient(center top , #F9F9F9 0%, #ECECEC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;*/
    /*background: lightgrey !important;*/
    /*border-left: 1px solid #CCCCCC !important;*/
    /*border-right: 1px solid #CCCCCC !important;*/
    /*border-radius: 4px 4px 0 0;*/
    /*padding: 4px 16px;*/
}
.routebot{
    background: -moz-linear-gradient(center bottom , #F9F9F9 0%, #ECECEC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    /*background: lightgrey !important;*/
    border-bottom: 1px solid #CCCCCC !important;
    border-left: 1px solid #CCCCCC !important;
    border-right: 1px solid #CCCCCC !important;
    /*margin-bottom: 16px;*/
    padding: 4px 16px;
}
.botbot{
    background: -moz-linear-gradient(bottom center, #F9F9F9 0%, #ECECEC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    /*background: lightgrey !important;*/
    border-bottom: 1px solid #CCCCCC !important;
    border-left: 1px solid #CCCCCC !important;
    border-right: 1px solid #CCCCCC !important;
    /*margin-bottom: 16px;*/
    padding: 4px 16px;
}
#accordion{
    padding: 5px;
}

.newroutebot{
    background: -moz-linear-gradient(center bottom , #F9F9F9 0%, #ECECEC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    /*background: lightgrey !important;*/
    border: 1px solid #CCCCCC !important;
/*    border-left: 1px solid #CCCCCC !important;
    border-right: 1px solid #CCCCCC !important;*/
    /*margin-bottom: 16px;*/
    margin: 20px auto;
    padding: 4px 16px;
    width: 300px;
}

#routetitlediv{
    margin-bottom: 20px;
}